.top-view {
  background-image: url(../images/topview_photo_tablet.jpg);
  .top-view_shadow {
    div {
      img {
        margin-bottom: 0px;
        width: 40%;
      }
      p {
        font-size: 1em;
        width: 40%;
      }
    }
  }
}