
.top-view.with_bk {
  background-image: url(../images/topview_photo_tablet.jpg);
  background-size: 130%;
}
.top-view {
  .top-view_shadow {
    div {
      img {
        margin-bottom: 0px;
        width: 40%;
      }
      p {
        font-size: 1em;
      }
    }
  }
}

.material.step4 {
  transform: rotate(180deg);
}

.material.step5 {
  height: 100vh;
}